#!/bin/bash
EIP={{ keepalived_eip }}
INSTANCE_ID={{ instance_id }}

/usr/local/bin/aws ec2 disassociate-address --public-ip $EIP
/usr/local/bin/aws ec2 associate-address --public-ip $EIP --instance-id $INSTANCE_ID